<template>
    <div class="base-component-menu">
        <!--
            В этот слот пробрасываются кнопки, индивидуальные для каждого компонента. Например, шрифт, размер шрифта, начертание, цвет.
        -->
        <slot name="menu"></slot>

        <!--
            Здесь мы размещаем те кнопки, которые будут общие у всех компонентов.
            Например. можно сделать кнопки "На передний план", "На задний план", "Удалить".
        -->

        <menu-dropdown>
            <button type="button" class="base-component-menu__btn" title="Расположение слоев">
                <i class="uil uil-layer-group"></i>
            </button>
            <template #body>
                <button type="button" class="base-component-menu__btn"
                        title="На передний план"
                        @click="editor.bringFront(id)"
                ><i class="uil uil-bring-bottom"></i>
                </button>
                <button type="button" class="base-component-menu__btn"
                        title="На задний план"
                        @click="editor.bringBack(id)"
                ><i class="uil uil-bring-front"></i>
                </button>
            </template>
        </menu-dropdown>

        <button type="button" class="base-component-menu__btn"
                title="Удалить элемент"
                @click="editor.remove(id)"
        ><i class="uil uil-trash-alt"></i></button>
        <!--            <button type="button" class="base-component-menu__btn"-->
        <!--                    title="Пример кнопки которая будет в меню у всех компонентов"-->
        <!--            ><i class="uil uil-question-circle"></i></button>-->
    </div>
</template>

<script>
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";

    export default {
        name: "BaseComponentMenu",
        components: {MenuDropdown},
        props: ['editor', 'id'],
        data() {
            return {
                d_currDropdown: null,
            }
        }
    }
</script>

<style lang="scss">
    .base-component-menu {
        background: white;
        bottom: 85px;
        left: 15px;
        border-radius: 20px;
        box-shadow: 0 6px 20px #606a75;
        /*box-shadow: 0 6px 20px #aed5ff;*/
        position: fixed;
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }

    .base-component-menu__btn {
        border: none;
        background: none;
        height: 50px;
        width: 50px;
        color: #6f6f6f;
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #6253e2;
        }

        &:focus {
            outline: none;
        }
    }
    .base-component-menu__btn_active {
        background: #6253e2;
        color: white;

        &:hover{
            color: #e0e0e0;
        }
    }

    .base-component-menu__btn_sm {
        font-size: 14px;
        height: 30px;
    }

    .base-component-menu__input {
        background: none;
        width: auto;
        min-width: 0;
        border: none;
        font-size: 16px;
        color: #6f6f6f;
        outline: none;
        text-align: center;

        &:hover {
            color: #6253e2;
        }
    }

    .toolbar__dropdown {
        background: white;
        border: 1px solid #d2d2d2;
        top: 0;
        left: 65px;
        border-radius: 20px;
        /*box-shadow: 0 6px 20px #aed5ff;*/
        box-shadow: 0 6px 20px #606a75;
        position: absolute;
        text-align: center;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            /*height: 400px;*/
            overflow: hidden;


            li {
                padding: 0;

                .toolbar__dropdown-btn {
                    padding: 6px 20px;
                    border: none;
                    outline: none;
                    background: none;
                    display: block;
                    width: 100%;
                    color: #6f6f6f;
                    cursor: pointer;

                    &:hover {
                        color: black;
                        background: rgba(#6f6f6f, .5);
                    }
                }

                .active {
                    color: black;
                    background: rgba(#6f6f6f, .5);
                }
            }
        }
    }
</style>
