<template>
    <div class="menu-dropdown">
        <div @click="toggle">
            <slot name="default"/>
        </div>
        <div class="menu-dropdown__body" v-if="d_open">
            <slot name="body"/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MenuDropdown",
        data() {
            return {
                d_open: false,
            }
        },
        beforeDestroy() {
            document.body.removeEventListener('click', this.onBodyClick);
        },
        methods: {
            toggle() {
                this.d_open = !this.d_open;
                if (this.d_open) document.body.addEventListener('click', this.onBodyClick);
                else document.body.removeEventListener('click', this.onBodyClick);
            },
            onBodyClick(event) {
                if (!event.path.includes(this.$el)) this.toggle(false);
            },
        }
    }
</script>

<style lang="scss">
    .menu-dropdown {
        position: relative;
    }

    .menu-dropdown__body {
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: 65px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 6px 20px #606a75;

        &::-webkit-scrollbar {
            width: 3px;
            background: transparent;
        }

        &::-webkit-scrollbar-track {
            background: #F5F5F5;
            margin: 20px 0;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(#d2d2d2, .9);
        }

        .menu-dropdown__btn {
            padding: 6px 20px;
            border: none;
            outline: none;
            background: none;
            display: block;
            width: 100%;
            color: #6f6f6f;
            cursor: pointer;

            &:hover {
                color: black;
                background: rgb(111 111 111 / 13%);
            }
        }
    }
</style>
