<template>
    <menu-dropdown class="text-font-family">
        <button type="button" class="base-component-menu__btn" title="Шрифт">
            <i class="uil uil-text"></i>
        </button>
        <template #body>
            <input type="text" class="base-component-menu__input text-font-family__input"
                   placeholder="Поиск"
                   v-model="d_searchQuery"
            >
            <button type="button" class="base-component-menu__btn base-component-menu__btn_sm text-font-family__font"
                    v-for="value in c_filteredFonts"
                    @click="$emit('input', value)"

            >{{ value }}
            </button>
            <p v-if="!c_filteredFonts.length">
                Ничего не найдено
            </p>
        </template>
    </menu-dropdown>
</template>

<script>
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";

    export default {
        name: "TextFontFamily",
        components: {MenuDropdown},
        props: ['value'],
        data() {
            return {
                d_values: ['Roboto', 'Rowdies', 'Roboto Mono', 'Raleway', 'Playfair Display', 'Lexend Zetta', 'Ranchers',
                    'Bebas Neue', 'Anton', 'Krona One', 'Grenze Gotisch', 'Lobster', 'Pacifico', 'Indie Flower', 'Dancing Script'],
                d_searchQuery: '',
            }
        },
        computed: {
            c_filteredFonts() {
                const loweredQuery = this.d_searchQuery.toLowerCase();
                return this.d_values.filter(font => font.toLowerCase().includes(loweredQuery));
            }
        }
    }
</script>

<style scoped lang="scss">
    .text-font-family__input {
        height: 35px;
        border-bottom: 1px solid #c796ff;
        position: sticky;
        top: 0;
        background: white;
    }

    .text-font-family__font {
        width: 100%;
    }
</style>
