<template>
    <menu-dropdown>
        <i class="base-component-menu__btn uil"
           title="Выравнивание текста"
           :class="`uil-align-${value}`"
        ></i>
        <template #body>
            <i class="base-component-menu__btn uil"
               v-for="val in d_values"
               role="button"
               @click="$emit('input', val)"
               :class="`uil-align-${val}`"
            ></i>
        </template>
    </menu-dropdown>
</template>

<script>
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";

    export default {
        name: "TextAlign",
        components: {MenuDropdown},
        props: ['value'],
        data() {
            return {
                d_values: ['left', 'center', 'right', 'justify']
            }
        }
    }
</script>

<style scoped>

</style>
