<template>
    <base-component
        :editor="editor"
        :id="id"
        @dblclick.native="d_contentEditable = true"
        @blur="d_contentEditable = false"
        :movable="!d_contentEditable"
    >
        <editor-content :editor="d_editor"
                        :style="c_style"
        />
        <template #menu>
            <text-palette v-model="d_params.color"/>
            <text-font-size v-model="d_params.fontSize"/>
            <text-font-family v-model="d_params.fontFamily"/>
            <editor-menu-bar :editor="d_editor" v-slot="{ commands, isActive }">
                <div>
                    <button type="button" class="base-component-menu__btn" title="Полужирный"
                            :class="{ 'base-component-menu__btn_active': isActive.bold() }"
                            @click="commands.bold">
                        <i class="uil uil-bold"></i>
                    </button>
                    <button type="button" class="base-component-menu__btn" title="Курсив"
                            :class="{ 'base-component-menu__btn_active': isActive.italic() }"
                            @click="commands.italic">
                        <i class="uil uil-italic"></i>
                    </button>
                    <button type="button" class="base-component-menu__btn" title="Зачеркивание"
                            :class="{ 'base-component-menu__btn_active': isActive.strike() }"
                            @click="commands.strike">
                        <i class="uil uil-text-strike-through"></i>
                    </button>
                    <button type="button" class="base-component-menu__btn" title="Подчеркивание"
                            :class="{ 'base-component-menu__btn_active': isActive.underline() }"
                            @click="commands.underline">
                        <i class="uil uil-underline"></i>
                    </button>
                </div>
            </editor-menu-bar>
            <text-align v-model="d_params.textAlign"/>
        </template>
    </base-component>
</template>

<script>
    import BaseComponent from "../base/BaseComponent";
    import {Editor, EditorContent, EditorMenuBar} from 'tiptap'
    import {Bold, Italic, Strike, Underline} from 'tiptap-extensions'
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";
    import TextPalette from "@/common/js/components/tools/text/TextPalette";
    import TextFontSize from "@/common/js/components/tools/text/TextFontSize";
    import TextFontFamily from "@/common/js/components/tools/text/TextFontFamily";
    import TextAlign from "@/common/js/components/tools/text/TextAlign";


    export default {
        name: "TextComponent",
        components: {
            TextAlign,
            TextFontFamily,
            TextFontSize, TextPalette, MenuDropdown, BaseComponent, EditorContent, EditorMenuBar,
        },
        props: ['editor', 'text', 'active', 'id'],

        data() {
            return {
                d_editor: new Editor({
                    editable: false,
                    content: this.text,
                    extensions: [
                        new Bold(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                    ],
                }),

                d_text: this.text || null,
                d_contentEditable: false,
                d_params: {
                    textAlign: 'left',
                    fontSize: 30,
                    fontFamily: '',
                    color: '#000000'
                },
            }
        },
        beforeDestroy() {
            // Always destroy your editor instance when it's no longer needed
            this.d_editor.destroy()
        },
        watch: {
            d_contentEditable(val) {
                this.d_editor.setOptions({editable: val});
            }
        },
        computed: {
            c_style() {
                return {
                    textAlign: this.d_params.textAlign,
                    fontSize: this.d_params.fontSize + 'px',
                    lineHeight: 'normal',
                    fontFamily: this.d_params.fontFamily,
                    color: this.d_params.color,
                }
            },
        },
        methods: {},
    }
</script>

<style lang="scss">
    .ProseMirror {
        outline: none;
    }
</style>
