<template>
    <menu-dropdown class="text-palette">
        <button type="button" class="base-component-menu__btn"
                :title="value"
        >
            <i class="text-palette__btn"
               :style="{ background: value}"
            ></i>
        </button>
        <template #body>
            <div class="text-palette__body">
                <div class="text-palette__layout">
                    <button type="button" class="text-palette__btn"
                            v-for="color in d_colors"
                            :key="color.id"
                            :style=" {background: color}"
                            :title="color"
                            @click="$emit('input', color)"
                    >
                    </button>
                </div>
            </div>
        </template>
    </menu-dropdown>
</template>

<script>
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";

    export default {
        name: "TextPalette",
        components: {MenuDropdown},
        props: ['value'],
        data() {
            return {
                d_colors: ['#f44336', '#e91e63', '#7b1fa2', '#009688', '#2196f3', '#8bc34a', '#4caf50',
                    '#ffc107', '#ff1744', '#795548', '#000000', '#ffffff'],
            }
        }
    }
</script>

<style scoped lang="scss">
    .text-palette__btn {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, .2);
        cursor: pointer;
        outline: none;

        &:hover {
            transform: scale(1.2);
        }
    }

    .text-palette__body {
        padding: 15px;
    }

    .text-palette__layout {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
    }
</style>
