<template>
    <menu-dropdown class="text-font-size">
        <button type="button" class="base-component-menu__btn" title="Размер шрифта">
            <input type="text" class="base-component-menu__input"
                   v-model.number="c_input"
                   @keydown.up="$emit('input', c_input + 1)"
                   @keydown.down="$emit('input', c_input - 1)"
            >
        </button>
        <template #body>
            <button type="button" class="base-component-menu__btn base-component-menu__btn_sm"
                    v-for="value in d_values"
                    @click="$emit('input', value)"
            >{{ value }}
            </button>
        </template>
    </menu-dropdown>
</template>

<script>
    import MenuDropdown from "@/common/js/components/tools/base/MenuDropdown";

    export default {
        name: "TextFontSize",
        components: {MenuDropdown},
        props: ['value'],
        data() {
            return {
                d_values: [6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30,
                    32, 36, 40, 42, 44, 46, 48, 50, 52, 54, 56, 60, 72, 80, 88, 96],
            }
        },
        computed: {
            c_input: {
                get() {
                    return this.value;
                },
                set(val) {
                    this.$emit('input', val);
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .text-font-size__input {
        outline: none;
        text-align: center;
    }
</style>
