<template>
    <div class="action-bar">
        <button class="action-bar__btn" type="button">
            <i class="uil uil-save"></i>
        </button>
        <button class="action-bar__btn" type="button">
            <i class="uil uil-folder-open"></i>
        </button>
        <button class="action-bar__btn" type="button"
                @click="editor.scaleFactor += 0.1">
            <i class="uil uil-search-plus"></i>
        </button>
        <button class="action-bar__btn" type="button"
                @click="editor.scaleFactor -= 0.1"
        >
            <i class="uil uil-search-minus"></i>
        </button>
    </div>
</template>

<script>
    export default {
        name: "ActionBar",
        props: ['editor'],
    }
</script>

<style scoped lang="scss">
    .action-bar {
        background: white;
        top: 15px;
        right: 15px;
        border-radius: 20px;
        /*box-shadow: 0 6px 20px #aed5ff;*/
        box-shadow: 0 6px 20px #606a75;
        position: absolute;
        z-index: 1000;
        display: flex;
        flex-direction: column;

        .action-bar__btn {
            border: none;
            background: none;
            height: 50px;
            display: block;
            width: 50px;
            color: #6f6f6f;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: #6253e2;
            }

            &:focus {
                outline: none;
            }
        }
    }
</style>
