<template>
    <div class="app">
        <tool-bar :editor="d_editor"/>
        <action-bar :editor="d_editor"/>
        <canvas-component :editor="d_editor"/>
    </div>
</template>

<script>
    import ToolBar from "./tools/ToolBar";
    import CanvasComponent from "./CanvasComponent";
    import LayoutConstructor from "../custom/layoutConstructor";
    import ActionBar from "@/common/js/components/ActionBar";

    export default {
        name: "App",
        components: {ActionBar, CanvasComponent, ToolBar},
        mounted() {
            console.log('base app loaded');
        },
        data() {
            return {
                // LayoutConstructor - класс, который нужно реализовать
                d_editor: new LayoutConstructor(),
            }
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    .app {
        display: flex;
        min-height: 100vh;
        align-items: stretch;
    }

    .content {
        width: 100%;
        padding: 15px;
    }
</style>
