<template>
    <div class="content" ref="content">
        <div class="workarea"
             :style="c_style"
        >
            <component v-for="(component, idx) in editor.components"
                       :key="component.props.id"
                       :is="component.name"
                       v-bind="component.props"
            ></component>
        </div>
    </div>
</template>

<script>
    import ImgComponent from "./tools/img/ImgComponent";
    import TextComponent from "./tools/text/TextComponent";
    import Point from "@/common/js/custom/Point";

    export default {
        name: "CanvasComponent",
        components: {ImgComponent, TextComponent},
        props: ['editor'],
        data() {
            return {
                d_size: new Point(9, 5)
            }
        },
        computed: {
            c_style() {
                return {
                    width: this.d_size.x * this.editor.scaleFactor + 'cm',
                    height: this.d_size.y * this.editor.scaleFactor + 'cm',
                }
            },
        },
        mounted() {
            this.editor.subscribeToPlace(this.handleComponentPlacing);

            document.addEventListener('click', (e) => {
                // console.log([e.pageX, e.pageY]);
                if (e.target === this.$refs['content']) {
                    this.editor.components.forEach(item => item.props.active = false);
                }
            });
        },
        methods: {
            handleComponentPlacing(component) {
                // this.$refs.content.appendChild(component.$el);
            },
            handleClick(component, arr) {
                arr.forEach(item => item.props.active = false);
                component.props.active = !component.props.active;
            },
        },
    }
    /*
    *  :class="{active:component.props.active}"
                   @click.native="handleClick(component, editor.components)"*/
</script>

<style scoped lang="scss">
    .content {
        position: relative;
        overflow: hidden;
        background: repeating-linear-gradient(
                transparent, transparent 0.48cm, #e2e2e2 0.50cm, transparent 0.52cm
        ),
        repeating-linear-gradient(
                90deg,
                transparent, transparent 0.48cm, #e2e2e2 0.50cm, transparent 0.52cm
        );
    }

    .workarea {
        width: 9cm;
        height: 5cm;
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*bottom: 0;*/
        /*margin: auto;*/
        box-shadow: 0 0 0 10000px #00000059;
    }
</style>
