<template>
    <button type="button"
            class="toolbar__button"
            :class="{ 'is-active': editor.isActive.iframe() }"
            @click="showModal"
    >
        <i class="far fa-external-link"></i>
    </button>
</template>

<script>
    import Vue from "vue";
    import IframeModal from "@/js/common/components/TipTap/Iframe/IframeModal";

    export default {
        name: "IframeButton",
        components: {IframeModal},
        props: ['editor'],
        methods: {
            showModal() {
                const modalClass = Vue.extend(IframeModal);
                const modal = new modalClass({
                    propsData: {
                        editor: this.editor,
                    }
                });
                modal.$mount();
                document.body.appendChild(modal.$el);
            }
        }
    }
</script>

<style scoped>

</style>
