<template>
    <div class="editor">
        <toolbar v-if="editable"
                 :editor="editor"
        ></toolbar>
        <editor-content class="editor__content" :editor="editor"/>
    </div>
</template>

<script>
    import {Editor, EditorContent} from 'tiptap'
    import {
        Blockquote,
        Bold,
        BulletList,
        Code,
        CodeBlock,
        HardBreak,
        Heading,
        History,
        HorizontalRule,
        Image,
        Italic,
        ListItem,
        OrderedList,
        Strike,
        TodoItem,
        TodoList,
        Underline,
    } from 'tiptap-extensions'
    import ModalComponent from "@/js/common/components/ModalComponent";
    import Toolbar from "@/js/common/components/TipTap/Toolbar";
    import Link from "@/js/common/components/TipTap/Link/Link";
    import Iframe from "@/js/common/components/TipTap/Iframe/Iframe";

    export default {
        name: 'Editor',
        components: {
            Toolbar,
            ModalComponent,
            EditorContent,
        },
        props: {
            value: {default: null},
            editable: {default: false}
        },
        data() {
            return {
                editor: null,
            }
        },
        computed: {
            c_extensions() {
                let allExtensions = [Blockquote,
                    BulletList,
                    CodeBlock,
                    HardBreak,
                    Heading,
                    HorizontalRule,
                    ListItem,
                    OrderedList,
                    TodoItem,
                    TodoList,
                    Bold,
                    Code,
                    Italic,
                    Strike,
                    Underline,
                    History,
                    Image,
                    Iframe,
                    Link,
                ];
                const extensions = [];
                for (let Extension of allExtensions) {
                    extensions.push(new Extension());
                }
                return extensions;
            },
        },
        mounted() {
            this.editor = new Editor({
                editable: this.editable,
                extensions: this.c_extensions,
                content: this.value,
                onUpdate: ({getJSON, getHTML}) => {
                    this.$emit('input', getHTML());
                },
            });
        },
        methods: {},
        beforeDestroy() {
            this.editor.destroy()
        },
    }
</script>

<style scoped lang="scss">
    @import '~@/sass/_variables.scss';
</style>
