<template>
    <aside class="tool-bar">
        <text-btn class="tool-bar__btn" :editor="editor"/>
        <img-btn class="tool-bar__btn" :editor="editor"/>
    </aside>
</template>

<script>
    import TextBtn from "./text/TextBtn";
    import ImgBtn from "./img/ImgBtn";

    export default {
        name: "ToolBar",
        components: {ImgBtn, TextBtn},
        props: ['editor'],
    }
</script>

<style scoped lang="scss">
    .tool-bar {
        background: white;
        bottom: 15px;
        left: 15px;
        border-radius: 20px;
        /*box-shadow: 0 6px 20px #aed5ff;*/
        box-shadow: 0 6px 20px #606a75;
        position: absolute;
        z-index: 1000;
        display: flex;
    }

    .tool-bar__btn {
        border: none;
        background: none;
        height: 50px;
        display: block;
        width: 50px;
        color: #6f6f6f;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            color: #6253e2;
        }

        &:focus {
            outline: none;
        }
    }
</style>
