<template>
    <div class="collapse" :class="{collapse_open: d_show}">
        <div class="collapse__toggle"
             @click="d_show = !d_show"
        >
            <slot name="default"
                  v-if="!$slots.openedToggle || !d_show"
            />
            <slot name="openedToggle"
                  v-if="d_show"
            />

            <svg class="collapse__arrow"
                 v-if="showArrow"
                 aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-down" role="img"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor"
                      d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z"
                      class=""></path>
            </svg>
        </div>
        <transition-collapse v-if="!!$slots.body">
            <slot name="body"
                  v-if="d_show"
            />
        </transition-collapse>
    </div>
</template>

<script>
    import TransitionCollapse from "@/js/vue/components/TransitionCollapse";

    export default {
        name: "Collapse",
        components: {TransitionCollapse},
        props: ['show', 'showArrow'],
        data() {
            return {
                d_show: this.show,
            }
        }
    }
</script>

<style scoped lang="scss">
    .collapse_open {
        .collapse__arrow {
            transform: rotate(180deg);
        }
    }

    .collapse__toggle {
        cursor: pointer;
    }

    .collapse__arrow {
        height: 0.75em;
        transition: transform 0.1s ease-in;
        vertical-align: baseline;
    }
</style>
