<template>
    <intersection-observer-component v-if="d_canFetchMore"
                                     @observe="handleObserve"
    />
</template>

<script>
    import IntersectionObserverComponent from "@/js/common/components/IntersectionObserver";

    export default {
        name: "LoadMoreObserver",
        components: {IntersectionObserverComponent},
        props: ['fetch', 'watch', 'chunk'],
        data() {
            return {
                d_canFetchMore: true,
                d_fetching: false,
            }
        },
        methods: {
            async handleObserve() {
                if (this.d_fetching) return;
                this.$emit('fetch');
                this.d_fetching = true;
                const res = await this.fetch();
                this.watch.push(...res);
                this.d_canFetchMore = res.length === this.chunk;
                this.$nextTick(() => {
                    this.d_fetching = false;
                    this.$emit('fetched');
                });
            }
        }
    }
</script>

<style scoped>

</style>
