<template>
    <div class="number-input">
        <i type="button"
           :disabled="value <= min"
           @click="$emit('input',value - step)"
        >-</i>
        <div class="number-input__value">{{ value }}</div>
        <i type="button"
           @click="$emit('input',value + step)"
        >+</i>
    </div>
</template>

<script>
    export default {
        name: "NumberInput",
        props: {
            min: {default: -Infinity},
            max: {default: Infinity},
            value: {default: 1},
            step: {default: 1}
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/common/sass/_variables.scss";

    .number-input {
        display: inline-flex;
    }

    .number-input__value {
        width: 50px;
        text-align: center;
        user-select: none;
        color: $secondary;
        font-size: 36px;
        line-height: 1;
    }
</style>
