<template>
    <base-component @remove="$emit('remove')"
                    :d_currDropdown='d_currDropdown'
                    :editor="editor"
                    :id="id"
                    @openingDropdown="(currDropdown)=>this.d_currDropdown = currDropdown">
        <img :src="src" alt="" style="width: 100%; height: 100%;">
    </base-component>
</template>

<script>
    import BaseComponent from "../base/BaseComponent";

    export default {
        name: "ImgComponent",
        components: {BaseComponent},
        props: ['editor', 'src','id'],
        data() {
            return {
                d_currDropdown: 'nope',
                d_src: this.src || null,
            }
        },
        methods: {
        },
    }
</script>

<style scoped lang="scss">
</style>
